h3 {
    /* display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    right: 40px; */
    color: #F3350D;
    padding-left: 10em;
    text-align:left;
}
.item1 .item2{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
    align-items: stretch;
    text-align: left;
}
.item{
    color: #F3D50D;
    font-size: 1.25em;
}
.type{
    color: #F30D83  ;
}
.title{
    color: rgb(6, 182, 15)    ;
    position: relative;
    
}
.area{
    padding-bottom: 2em;
}

