body{
    background-color: #2E4053;
}
#btn1{
    background-color: rgb(43, 226, 217);
    color: white;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 15px;
    border: 1px solid white;
    border-radius: 50%;
}
#btn1:hover{
    background-color: white;
    color: rgb(43, 226, 217);
    border: 1px solid  rgb(43, 226, 217); 
}
#btn2{
    background-color: rgb(43, 226, 217);
    color: white;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 15px;
    border: 1px solid white;
    border-radius: 50%;
}
#btn2:hover{
    background-color: white;
    color: rgb(43, 226, 217);
    border: 1px solid  rgb(43, 226, 217); 
}
#btn3{
    background-color: rgb(43, 226, 217);
    color: white;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 15px;
    border: 1px solid white;
    border-radius: 50%;
}
#btn3:hover{
    background-color: white;
    color: rgb(43, 226, 217);
    border: 1px solid  rgb(43, 226, 217); 
}
#f1{
    color: #DAF7A6;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}