body{
    background: darksalmon;
}
#formulario{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

}
#botoncito{
    width: 300px;
    margin:0.5555em;
    font-size: 1.125em; 
    padding: 0.5555em;
    color: slateblue;
    border: 2px solid slateblue;
    background: skyblue;
    border-radius: 0.5555em;
}

·botoncito:hover{
    background: #33FF54;
    color:#F39C12;
}

