body{
    background: #0489b1;
}
#contenedor{
    display:table;
    margin: 0 auto;
}
button{
    display: table-cell;
    width: 100%;
    margin:0.5555em;/*18-16*/
    font-size: 1.125em;/*18-16*/   
    padding: 0.5555em;/*10-18*/
    color:#f2f2f2;
    border:4px solid #f2f2f2;
    background: #0489b1;
    border-radius: 0.5555em;/*10-18*/
    text-shadow: 0.1111em 0.1111em 0.22222em #000000;/*2-2-4/18*/
    -o-transition:background 1s,color 1s;
    -moz-transition: background, color 1s;
    -webkit-transition:background, color 1s;
}
button:hover{
    background: #f2f2f2;
    color:#0489b1;
    text-shadow: none;
}
section{
    font-size:1,2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#contenido{
    color: bisque;
    text-shadow: 2px 2px 4px #000000;
    font-size:1.5em;
    background:rgb(23, 28, 23,0.2);
}
/*Estilos cantidad*/
form{
    text-align: center;
}
.select {
    position: relative;
    border: 0.0625em solid #ccc;/*1-16*/
    width: 15em;/*120-16*/
    overflow: hidden;
    background-color: #fff;
    margin:0 auto;
  }
    
  .select:before {
      content: '';
      position: absolute;
      right: 0.3125em;/*5-16*/
      top: 0.6573em;/*7-16*/
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.4373em 0.3125em 0 0.3125em;/*7-16 5-16*/
      border-color: #000000 transparent transparent transparent;
      z-index: 5;
      pointer-events: none;
  }
    
  .select select {
      padding: 0.3125em 0.5em;/*5-8-16*/
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      appearance: none;
  }