body{
    background: #bbff1c;
}
#contenedor{
    display:table;
    margin: 0 auto;
}
button{
    display: inline-block;
    text-decoration: none; 
    color:#060; 
    background:#999; 
    padding: 5px;
    width:120px; 
    height:120px; 
    -o-border-radius: 200px;
    -moz-border-radius: 200px; 
    -webkit-border-radius: 200px; 
    -ms-border-radius: 200px;
    border-radius: 200px;
}
button:hover{
    background: #f2f2f2;
    color:#0489b1;
}