body{
    background-color: rgb(95, 10, 173);

}
#contenido{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}
#btn1{
    margin: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 5px;
    border:1px rgb(95, 10, 173);
    color: red;
    background-color: palegreen;

}
#btn2{
    margin: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 5px;
    border:1px rgb(95, 10, 173);
    color: red;
    background-color: palegreen;
}
#btn3{
    margin: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 5px;
    border:1px rgb(95, 10, 173);
    color: red;
    background-color: palegreen;
}
div#contenido li{
    padding-top: 50px;
    color-interpolation-filters: auto;
}
div#contenido h4{
    padding: 2px;
    font: 15px "Comic Sans", cursive;

}
div#contenido span{
    padding: 2px;
    font: 15px "Comic Sans", cursive;

}
div#contenido p{
    padding: 2px;
    font: 15px "Comic Sans", cursive;

}