ol{
    padding: 0;
}
.item{
    display: flex;
    width:100%;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:stretch;
}
body{
    color:#130b0b;
    text-align:center;
    background-color: rgb(126, 119, 233);
   }
   
.title{
    width: 400px; 
    margin:0;
    padding: 10px 0;
    text-align:center;
    border-style: groove;

}
.contenedor{
    flex-grow:1;
    position: relative;
    text-align:center;

}
.contenedor>span{
    position: relative;
    z-index: 900;
    display:block;
   
}

.cantidad{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height:40px;
    z-index: 10;
    background-color: rgb(148, 228, 20);
    transition: width 4s ease;
    transition-delay:1s; 
}
button{
    margin: 100px;
    height: 100px;
    color:#000000;
    background:  rgb(148, 228, 20);
    border-radius: 100px;
    font:bold 25px Verdana;
    text-decoration:none;
transition:background 1s,color 1s;

}
