ol{
	padding: 0; 
    
}
body{
	padding-top: 1.50em;
	text-align:center;
	margin:0 auto;
}
.item{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}
.title{
	max-width: 50%;
	width: 420px;
	margin: 0;
	padding: 10px 0 0px 130px;
	text-align: left;
		
}
.contenedor{
	flex-grow: 1;
	position: relative;
	text-align: center;
	padding: 15px;
}
.contenedor>span{
	position: relative;
	z-index: 900;
	display: block;
}
.cantidad{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 40px;
	z-index: 10; 	
	background-color: #b80707;
	transition: width 4s ease;
	transition-delay: 1s;
}
.btn{
	margin: 0 auto;
}