
/* responsive css*/
@media only screen and (min-width: 769px) {
    body{
    	width:100%;
    }
}


/* Table Screen Media */
@media only screen and (max-width: 768px){

    body{
    	width: 80%;
    }
    #izq{
        clear: both;
        width: 100%;
    }
    #der{
        clear: both;
        width: 100%;
    }
    .featured{
        width: 50%:;
    }
}


/* Mobile Phone Screen Media */
@media (max-width: 768px){
	
.single_service {
    color: #000;
    margin-top: 5%;
    display: inline-block;
}
.single_service h4 {
    color:#e84c3d;
	margin-top: 50px;
}

.single_service p {
    color: #e84c3d;
}
.single_blog_overlay {
    padding: 45px 20px;
}
.sinle_counter {
    text-align: center;
	margin-top:30px;
}
.sinle_counter .separetorwhite {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    padding: 2px 0px;
    width: 10%;
    margin-bottom: 20px;
    margin: 0 auto;
}
.main_steps_content:after{
   display:none;
}
	
	
	
}