
style{

    background: #000
}
body {
    background: rgb(0,0,0,.9);
}
.content{
    
    display:table-cell;
    background: #054d77;
    width: 100%;
    padding: 0.735em;
    margin-top: -10px;
    border-radius: 0.75em;
}
body .content button{

    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #06a506;
    background: #000308;
    border-radius: 0.75em;
    border-color: #b90303;
    
}
.container_dialog{
    padding-top: 50px;
}
.content button:hover {
    font-size: 1.2em;
    color: #00cf00;
    background: #000b1f;
    border-radius: 0.80em;
    border-color: #02c96c;
    
}
.contenido{
    
    color: #c7001b;
    font-weight: bold;
    font-size: 1.5em;
    border: 5px;
    border-color: #054d77;
    margin-bottom: 45px;
}
.dialog{
    /* width: 50%; */
    
    position: relative;
    background: #000b1f;
    color: #b90303;
    border-radius: 15px;
}
.contenido div{
    width: 90%;
    top: 0px;
}
.contenido div div {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 10px;
    /* position: absolute; */

}
.dialog{
    padding-bottom: 40px;
}
#btn_salir{
    /* display: flex;
    position: relative; */
    /* align-self: flex-end; */
    background: #00a349bb;
    font-size: 1.2em;
    /* float: right; */
    
    
    width: 100px;
    border: 3px solid #146300;
    right: 10px;
    position: absolute;
    
}
.labelName{
    font-size: 1.5em;
    color: #fff;
}
#name{
    width: 250px;
    height: 1.1em;
    border: #02c96c;
    border-block-end: #02c96c;    
    border-radius: 10%;
}
.btn{
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #06a506;
    background: #000308;
    border-radius: 0.75em;
    border-color: #b90303;
    
}
.btn:hover{
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 1.13em;
    font-family: Arial, Helvetica, sans-serif;
    color: #06a506;
    background: #00040a;
    border-radius: 0.75em;
    border-color: #500000;
    
}

    