html{
    background: linear-gradient(to right, beige, whitesmoke);
}
*{
    margin: 0px;
    padding: 0px;
}
div#contenido ul li{
    margin-top: 15px;
    font-family: cursive;
    font-size: 18px;
    background-color: deepskyblue;
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    box-shadow: 5px 0px 10px darkslategray;
    -webkit-transition: padding-left 0.6s;
}
div#contenido ul li:hover{
    padding-left: 50px;
}
div#contenido h2{
    padding-top: 30px;
    font: 20px "Arial", bold;
    color: rgb(2, 28, 53);
}
div#contenido o{
    font: 20px "Console", cursive;
    color: rgb(2, 28, 53);
}
div#contenido t{
    font: 20px "Arial", cursive;
    color: rgb(2, 28, 53);
    font-style: normal;
}
div#contenido h3{
    padding-top: 20px;
    font: 24px "Algerian", bold;
    color: rgb(2, 28, 53);
}
div#contenido p{
    font: 18px "Comic Sans", cursive;
    color: rgb(2, 28, 53);
}
select#user_name{
    border: 1px solid #DBE1EB;
    font-size: 18px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border: inset;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
    color: #2E3133;
}
select#user_name option{
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  }
select#user_name option:hover{
  background: #FC4F06;
  background: linear-gradient(left, #FC4F06, #D85F2B);
  background: -moz-linear-gradient(left, #FC4F06, #D85F2B);
  background: -webkit-linear-gradient(left, #FC4F06, #D85F2B);
  background: -o-linear-gradient(left, #FC4F06, #D85F2B);
  font-style: italic;
  color: #FFFFFF;
  }
form#formulario button{
    margin-top: 15px;
    font-family: cursive;
    font-size: 18px;
    background-color: darkcyan;
    color: whitesmoke;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    padding-left: center;
    box-shadow: 5px 10px 10px darkslategray;
}
form#formulario button:hover{
    background-color:  rgb(52, 199, 199);
    color: black;
}
form#formulario input{
    margin-top: 15px;
    font-family: cursive;
    font-size: 18px;
    background-color: white;
    color: black;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: inset;
}