
style{

    background: #000
}
body {
    background: #000308;
}
.content{
    
    display:table-cell;
    background: #054d77;
    width: 100%;
    padding: 0.735em;
    margin-top: -10px;
    border-radius: 0.75em;
}
body .content button{

    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #06a506;
    background: #000308;
    border-radius: 0.75em;
    border-color: #b90303;
    
}
.content button:hover {
    font-size: 1.2em;
    color: #00cf00;
    background: #000b1f;
    border-radius: 0.80em;
    border-color: #02c96c;
    
}